@charset "UTF-8";


body {
    margin: 0 auto;
    width: 100%;
    max-width: 1470px;
    min-width: 640px;
}

body > header > img {
    width: 1470px;
    height: 418px;
}


body > footer{
    float: bottom;
    clear: both;
    width: 100%;
}