@charset "UTF-8";


header > h1{
    font-style: italic;
    font-family: "JetBrains Mono NL Thin", monospace;
}


h1, h2, h3{
    margin: 5px 0 5px 0;
}

html{
    background: url(https://sigbovik.org/2024/img/achlogo.png) top left / 2% no-repeat,
    url(https://sigbovik.org/2024/img/achlogo.png) top right / 2% no-repeat,
    url(../ch2_images/Tom-7.jpg) bottom right / 5% no-repeat,
    radial-gradient(circle at 100%, rgb(202, 255, 230), rgb(232, 255, 243) 50%, #eee 75%, rgb(232, 255, 243) 75%);
}

html > body > header#bg > a,
html > body > header#bg > a:hover,
html > body > header#bg > a:active,
html > body > header#bg > a:visited,
html > body > header#bg > a:focus{
    display: inline;
    clear:none;
}

html > body > header#bg > a{
    content: " ";
    white-space: nowrap;
}

header#bg{
    display: block;
    min-height: 100%;
    width: 1470px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7) 100%),
    url(https://sigbovik.org/2024/img/walking.jpg) 100%/ cover no-repeat;
    background-blend-mode: normal;
    border-radius: 10px;
}

header#bg p, header#bg h1{
    border-radius: 10px;
}

body > header::after {
    content: "";
    display: table;
    clear: both;
}

input:focus,
select:focus,
textarea:focus {
    background-color: rgb(255, 255, 255);
}

.boardLengthLabel a{
    vertical-align: text-top;
    font-size: xx-small;
}

input#nameBox:focus:valid,
input#phoneBox:focus:valid,
input#mail:focus:valid {
    background: rgb(220, 255, 220);
}

input#nameBox:focus:invalid,
input#phoneBox:focus:invalid,
input#mail:focus:invalid {
    background: rgb(255, 230, 230);
}

input::-moz-placeholder {

}

sub{
    font-size: xx-small;
}


fieldset{
    border-radius: 10px;
    border-style: ridge;
    border-color: floralwhite;
    background-color: rgb(202, 255, 230);
}
input.petInf {
    display: inline-block;
    width: 100%;
}
input, textarea, select, option{
    background-color: rgb(237, 255, 245);
}
.contInf{
    width: 100%;
}

label{
    margin: 10px 0 6px 0;
    font-size: large;
    font-style: italic;
}



textarea.petInf{
    min-height: 6em;
    width: 100%;
}

label.petRadio{
    width: 95%;
    padding: 5px 0 5px 1em;
    display: inline-block;
    border: solid 1px floralwhite;
    line-height: 1.4em;
}
input.petRadio{
    width: 10%;
    display:block;
    float: right;
    margin-top: 7px;
    border: solid 1px floralwhite;
}
label.boardInfo{
    margin-left: 3%;
}
input.boardInfo{
    width: 60%;
}
input#boardLength{
    margin-left: 30%;
}
