@charset "UTF-8";

@import "../mainPageStyles/root_graphic_design.css";

@font-face { font-family: "JetBrains Mono";
    src: url("../../Challenge_2/Fonts/JetBrainsMono");
}

/*Common Styles*/

html{
    font-family: "JetBrains Mono", sans-serif;
    color: black;
    font-size:large;
}

header, article, header a{
    border-bottom-color: rgba(5, 255, 159, 20%);
    border-right-color: rgba(5, 255, 159, 40%);
    border-top-color: rgba(5, 101, 255, 40%);
    border-left-color: rgba(5, 101, 255, 20%);
}

header{
    width: 100%;
    margin-top: -5px;
}

nav {
    padding-left: 2%;
    background-color: rgba(5, 226, 255, 20%);
    border-style: inset;
    border-radius: 10px;
}



nav#home {
    background-color: rgba(5, 226, 255, 20%);
    border-style: inset;
    border-radius: 10px;

}


img{
    width: 180px;
    height: 180px;
}




*:after{
    content: "";
    display: table-cell;
    clear: both;
}

div {
    display: block;
    float: bottom;
    clear: left;
}

div.project{
    padding-left: 1em;
}

body > article{
    display: block;
    width: 97.7%;
    border-style: outset;
    border-radius: 10px;
    background-color: rgba(5, 226, 255, 30%);
    padding-left: 2%;
    padding-right: -2%;
    float: left;
    clear: bottom;
}

dl {
   text-align: left;
}


footer{
    border-style: inset;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(5, 226, 255, 20%);
    padding-top: 1.5%;
    padding-bottom: 1.5%;

}

/*General Styles*/

dl > dt{
    padding-left: 2%;
}

dl > dd{
    padding-left: 0;
    padding-bottom: 1em;
}
dl > dt:before{
    content: '\0040';
}

dl > dd:before{
    content: '\00BB' ' ';
}
dl > dd#homelink:after, dd#homelink:before{
    content: none;
}
dl > dd:after{
    vertical-align: text-bottom;
    content: ' ' '\25A0';
}
/*Link Styles*/

a:link, a:visited{
    text-decoration: none;
    color: rgb(5, 101, 255);
}
a:hover, a:active{
    font-weight: bold;
    font-style: italic;
    color: rgb(0, 208, 255);
    text-shadow: -1px -1px 2px slategray,
                 1px -1px 2px slategray,
                 -1px 1px 2px slategray,
                 1px 1px 2px slategray;
}

dl {
    list-style: disc; /*This doesn't do
                        anything but I didn't
                         use any lists it can interact with
                         and it was listed as a requirement*/
}